profiles {

   conda {
      includeConfig 'base.config'
      process.executor = 'local'
      conda.enabled = true
      process {
         withName: PORECHOP{
               conda = "${baseDir}/Docker/conda_environments/porechop_filtlong.yml"
         }
         withName: FILTLONG{
               conda = "${baseDir}/Docker/conda_environments/porechop_filtlong.yml"
         }
         withName: FLYE{
               conda = "${baseDir}/Docker/conda_environments/flye.yml"
         }
         withName: MEDAKA_FIRST_ITERATION{
               conda = "${baseDir}/Docker/conda_environments/medaka.yml"
         }
         withName: MEDAKA_SECOND_ITERATION{
               conda = "${baseDir}/Docker/conda_environments/medaka.yml"
         }
      }
   }

   docker {
      includeConfig 'base.config'
      process.executor = 'local'
      process.container = 'erkison/long_read_assembly:0.1'
      docker.enabled = true
      docker.runOptions='-u $(id -u):$(id -g)'
      errorStrategy = { task.attempt <= 2 ? "retry" : "finish" }
      maxRetries = 2 
   }

}
