conda.enabled = true

params {
  reads = "/MIGE/01_DATA/01_FASTQ/*GYYMMDD.fastq.gz"
  output_dir = "results"
  valid_mode = "--nano-raw"
  help = false
  version = false
}


trace {
  enabled = true
  file = "${params.output_dir}/pipeline_stats.txt"
  overwrite = true
  fields =  "task_id,\
  hash,\
  process,\
  tag,\
  status,\
  exit,\
  start,\
  peak_rss,\
  cpus,\
  time,\
  disk,\
  memory,\
  duration,\
  realtime,\
  queue,\
  %cpu,\
  %mem,\
  rss,\
  vmem,\
  rchar,\
  wchar"

}

timeline {
  enabled = true
  overwrite = true
  file = "$params.output_dir/execution_timeline.html"
}

report {
  enabled = true
  overwrite = true
  file = "$params.output_dir/execution_report.html"
}

dag {
  enabled = true
  file = "${params.output_dir}/pipeline_dag.png"
  overwrite = true
}

manifest {
  name = 'ayoraind/ONT_pipeline'
  author = 'Ayorinde Afolayan'
  homePage = 'https://github.com/ayoraind'
  description = 'Nextflow Pipeline for pre-processing ONT reads, assembling genomes, and error-correcting assembled genomes'
  mainScript = 'main.nf'
  version = '1.0dev'
}

